template from templates directory loally

{{ jinja_var | sum(attribute='price') }}

dictionary values in dictionary jinja_var.price {{ jinja_var.price }}
sum working:{{ jinja_var | sum(attribute='price') }}:

dictionary values in dictionary jinja_var.name {{ jinja_var.name }}
